@use './variables' as var;

.page_specButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 13.9rem;
    
    @media screen and (max-width: 1024px) {
        margin-top:7.9rem
    }

    @media screen and (max-width: 700px) {
        margin-top:7.9rem
    }
}

.page_tasteButtons{
    display: flex;
    gap: .8rem;
}

.page_tasteButton{
    color: rgba(0,0,0,.5);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 22px;
    padding: .4rem 1.2rem .4rem .8rem;
    gap: .2rem;
    transition: all .3s cubic-bezier(.66,.1,.37,.94);

    svg {
        width: 2.6rem;
        height: 3rem
    }

 

    @media screen and (max-width: 1366px) {
        font-size:1.6rem;
        line-height: 1.6;
        letter-spacing: -.16px;
        padding: 0 1.33rem;
        height: 3.8rem;
                        
    }

    @media screen and (max-width: 1024px) {
        font-size:1.6rem;
        line-height: 1.23;
        padding: 0 1.8rem;
        height: 5.2rem;
        
    }

    @media screen and (max-width: 700px) {
        font-size:1.1rem;
        font-weight: 600;
        line-height: 1.2;
        height: 3.4rem;
        padding: 0 1.2rem;
        
    }

}    

.page_specButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 13.9rem;

    @media screen and (max-width: 1024px) {
        margin-top:7.9rem
    }

    @media screen and (max-width: 700px) {
        margin-top:7.9rem
    }
}

.page_specButtons .page_tasteButton {
    color: rgba(0,0,0,.5);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 22px;
    border: none;
    padding: 1rem 2rem;
    transition: all .3s cubic-bezier(.66,.1,.37,.94);
    height: 5.8rem;
    svg {
        width: 2.7rem;
        height: 2.7rem
    }
    &:first-child svg {
        width: 3.4rem;
        height: 3.8rem
    }
    
    &.page_activeApple {
        color: #fff;
        background: #02d181;
        transition: all .3s cubic-bezier(.66,.1,.37,.94)
    }

    &.page_activePeach {
        color: #fff;
        background: #fc9ec3;
        transition: all .3s cubic-bezier(.66,.1,.37,.94)
    }
    
    @media screen and (max-width: 1366px) {
        font-size:1.6rem;
        line-height: 1.6;
        letter-spacing: -.16px;
        padding: 0 1.33rem;
        height: 3.8rem;
        svg {
            width: 1.8rem;
            height: 1.8rem
        }

        &:first-child svg {
            width: 2.2rem;
            height: 2.5rem
        }        
    }    

    @media screen and (max-width: 1024px) {
        font-size:1.6rem;
        line-height: 1.23;
        padding: 0 1.8rem;
        height: 5.2rem;
        svg {
            width: 2.43rem;
            height: 2.43rem
        }

        &:first-child svg {
            width: 3rem;
            height: 3.4rem
        }        
    }   

    @media screen and (max-width: 700px) {
        font-size:1.1rem;
        font-weight: 600;
        line-height: 1.2;
        height: 3.4rem;
        padding: 0 1.2rem;
        svg {
            width: 1.62rem;
            height: 1.62rem
        }

        &:first-child svg {
            width: 2rem;
            height: 2.3rem
        }
    }

}

//우측
.page_specs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 6.9rem;
    padding-top: 6rem;
    padding-bottom: 20rem;
    .page_swiperWrapper {
        flex: 0 0;
                
        /* 커스텀 페이지네이션 스타일 */
        :deep(.swiper-pagination) {
            bottom: 10px !important;
        }

        :deep(.custom-bullet) {
            width: 8px !important;
            height: 8px !important;
            border-radius: 8px !important;
            
            opacity: 1 !important;
            position: relative !important;
            margin: 0 4px !important;
            cursor: pointer !important;
            transition: all 0.3s ease !important;
            background: #d4d6db
        }

        /* 활성화된 페이지네이션만 진행바 스타일 */
        :deep(.custom-bullet.swiper-pagination-bullet-active) {
            width: 60px !important;
            height: 8px !important;
            border-radius: 8px !important;        
        }

        :deep(.bullet-progress) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: hsla(0,0%,7%,.5);
            border-radius: 8px;
            transform: scaleX(0);
            transform-origin: left center;
            transition: transform 0.1s ease;
            opacity: 0;
        }

        /* 활성화된 페이지네이션에서만 진행바 표시 */
        :deep(.custom-bullet.swiper-pagination-bullet-active .bullet-progress) {
            opacity: 1;
        }

     
    }
    .page_mySwiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        display: block;
        width: 44rem;
        aspect-ratio: 440/500;
        background: #ececec;
        border: 1px solid hsla(0,0%,7%,.078);
        border-radius: 4rem
    }
    .page_spec {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        gap: 3rem;
        justify-content: center
    }
    .page_specWrapper {
        gap: 4rem
    }
    .page_specName {
        flex: 0 0;
        width: 10.8rem;
        min-width: 10.8rem;
        color: #111
    }
    .page_specValue {
        color: #585858;
        line-height: 140%;
        white-space: pre-line
    }
    .page_specSlide {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .page_imageCard {
        width: 100%;
        height: auto
    }

    

    @media screen and (max-width: 1366px) {
        .page_mySwiper {
            border-radius:2.6rem
        }
    }    

    @media screen and (max-width: 1024px) {
        width:52.5rem;
        flex-direction: column;
        padding: 6rem 0 9.6rem;
        gap: 4.85rem;
        margin: 0 auto;

        .page_swiperWrapper {
            width: 100%
        }

        .page_mySwiper {
            width: 100%;
            aspect-ratio: 350/290;
            border-radius: 4rem
        }

        .page_spec {
            padding: 0 2.6rem
        }
    }
    
    @media screen and (max-width: 700px) {
        width:100%;
        border-radius: 4rem;
        gap: 3.2rem;
        padding-top: 4rem;
        padding-left: 5.1282vw;
        padding-right: 5.1282vw;

        .page_spec {
            padding: 0 1.8rem;
            font-size: 1.3rem;
            gap: 2rem
        }

        .page_specWrapper {
            gap: 1.8rem
        }

        .page_specName__q4LvG {
            min-width: 8.5rem
        }
    }

}
