@use './variables' as var;

.page_pinContainer {
    position: relative;
    overflow: hidden;
}

/* 가로 */
.page_horizontalScroll {
    height: 380vh;
    height: 380dvh
}
.page_horizontalSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    height: 100dvh;
    background: #21439c;
    overflow: hidden
}
.page_horizontalItems {
    display: flex;
    width: 300%;
    height: 100%;
    @media screen and (max-width: 1024px) {
        flex-direction:column;
        width: 100%;
        height: 300%
    }
}
.page_horizontalItem{
    position: relative;
    width: 33.3333333333%;
    overflow: hidden;
    &:first-child {
        background: #0f3bae
    }
    &:nth-child(2) {
        background: #0bc362
    }
    &:nth-child(3) {
        background: #f0048c
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
        height: 33.3333333333%
    }
}
.stickWrapping{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 300%;
    height: 100%;
    .stickWrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 33.3333333333%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 50%;
        }
    }

}

.page_keywords{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 3.9rem;
    pointer-events: none;
    .page_keyword1,.page_keyword2{
        position: relative;
        color: #fff;
        line-height: normal;
        white-space: nowrap
    }
    .page_keyword1{
        margin-left: -8rem;
        margin-bottom: -4rem
    }
    .page_keyword2{
        text-align: right;
        margin-right: -8rem;
        margin-top: -4rem
    }
    @media screen and (max-width: 1366px) {
        padding-bottom:2.6rem;
        .page_keyword1 {
            margin-left: unset;
            margin-bottom: -2.5rem
        }
        .page_keyword2 {
            margin-right: unset;
            margin-top: 0
        }
    }
}
.page_horizontalDescriptions{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-bottom: 22.5rem;
    pointer-events: none;
    white-space: pre-line;
    .page_horizontalDescription{
        margin-top: 1.2rem;
    }
    @media screen and (max-width: 1366px) {
        padding-bottom: 14.1rem
    }
}

@media screen and (max-width: 1024px) {
    .page_keywords {
        padding-bottom: 11.4rem
    }

    .page_keyword1 {
        margin-bottom: -3rem
    }

    .page_keyword2 {
        margin-top: -3rem
    }

    .page_horizontalDescriptions {
        padding-bottom: 20.2rem
    }

    .page_horizontalDescriptions .page_horizontalDescription {
        margin-top: 1.2rem
    }
}
@media screen and (max-width: 700px) {
    .page_keywords {
        padding-bottom:8.3rem
    }

    .page_keyword1 {
        margin-bottom: -1.5rem
    }

    .page_keyword2 {
        margin-top: -1.5rem
    }

    .page_horizontalDescriptions {
        padding-bottom: 12.3rem
    }

    .page_horizontalItem:nth-child(3) .page_horizontalTitle {
        max-width: 80%;
        -webkit-line-clamp: 2;
        line-clamp: 2
    }

    .page_horizontalDescription {
        margin-top: .8rem
    }
}

/* 하단 */
.page_ingredientsCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    height: 100dvh;
    white-space: pre-line;
    overflow: hidden;
    @media screen and (min-width: 1366px) {
        padding-right:0
    }
    @media screen and (max-width: 1024px) {
        justify-content:flex-start;
        width: 100%;
        height: unset;
        padding-top: 27.3rem;
        padding-bottom: 60.06rem
    }
    @media screen and (max-width: 700px) {
        padding-top: 10rem;
        // margin-top: 15rem;
        // padding-bottom: 44rem;
        padding-right: 5.1282vw;

        margin-top: 0;
        // padding-top: 0;
        padding-bottom: 7rem;
        br{
            display: none;
        }
    }
}

.page_ingredientTextTitle  {
    font-size: max(3.3rem,2.7083vw);
    -webkit-line-clamp: 2;
    line-clamp: 2
}
.page_ingredientDescription {
    margin-top: 2.4rem;
    width: 100%;
    word-break: break-all;
    color: #555;
    @media screen and (max-width: 1024px) {
        width:100%;
        word-break: keep-all;
        font-weight: 400;
        line-height: 1.65;
        letter-spacing: -.32px
    }
    @media screen and (max-width: 700px) {
        font-size:1.5rem;
        margin-top: 1.2rem;
        font-weight: 500;
        line-height: 1.65;
        letter-spacing: -.3px
    }
}
.page_ingredients {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 2rem;
    margin-top: 4rem;
    width: 80%;
    grid-gap: 1.2rem;
    gap: 1.2rem;
    @media screen and (max-width: 1024px) {
        display:flex;
        grid-column-gap: 1.6rem;
        margin-top: 2.8rem;
        width: 100%
    }
}
.page_ingredientInner {
    padding: 0 1.2rem;
    @media screen and (max-width: 1024px) {
        padding:0
    }
}
.page_ingredientImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: var.$main-color;
    svg {
        width: 100%;
        aspect-ratio: 1/1
    }
    @media screen and (max-width: 1024px) {
        margin:auto;
        width: 5.75rem;
        height: 5.75rem;
        svg {
            width:5.75rem;
            height: 5.75rem
        }
    }
}
.page_ingredientText {
    margin-top: 1.2rem;
    color: #000;
    text-align: center;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    @media screen and (max-width: 1024px) {
        width:8.6rem;
        font-weight: 500;
        line-height: 1.4
    }

    @media screen and (max-width: 700px) {
        font-size:1.2rem;
        width: 6.4rem
    }

}

.page_ingredientsCtn .page_ingredientDescriptions,
.page_ingredientsCtn .page_ingredients {
    opacity: 0;
    transform: translateY(100px)
}

/* 이모지 1 */
.page_horizontalItem{
    .lf-player-container{
        img{width:100%}   
    }
    &:first-child{

        .page_springYellow {
            position: absolute;
            width: 8%;
            aspect-ratio: 1/1;
            top: 36%;
            left: 70%;
            z-index: 1;            
        }

        .page_zero {
            position: absolute;
            width: 6%;
            aspect-ratio: 1/1;
            top: 15%;
            left: 33%;
            z-index: 2
        }

        .page_star {
            position: absolute;
            width: 5%;
            aspect-ratio: 1/1;
            top: 53%;
            left: 36%;
            z-index: 2
        }

        .page_cloud {
            position: absolute;
            width: 12%;
            aspect-ratio: 155/179;
            top: 60%;
            left: 60%;
            z-index: 1
        }
        
        @media screen and (max-width: 1024px) {

            .page_springYellow {
                width: 12%;
                top: 20%;
                left: 42%
            }

            .page_zero {
                width: 20%;
                top: 25%;
                left: 30%
            }

            .page_star {
                width: 6%;
                top: 40%;
                left: 80%;
                z-index: 1
            }

            .page_cloud {
                width: 13%;
                top: 58%;
                width: 20%;
                top: 55%;
                left: 60%;
                z-index: 1
            }
        }

        @media screen and (max-width: 700px) {

            .page_springYellow {
                width: 20%;
                top: 23%;
                left: 70%;
            }

            .page_zero {
                width: 13%;
                top: 17%;
                left: 30%;
            }

            .page_star {
                width: 6%;
                top: 45%;
                left: 30%;
            }

            .page_cloud {
                top: 50%
            }
        }

    }
    &:nth-child(2){

        .page_sunglass {
            position: absolute;
            width: 12%;
            aspect-ratio: 1/1;
            top: 38%;
            left: 25%;
            z-index: 2
        }

        .page_springYellow {
            position: absolute;
            width: 8%;
            aspect-ratio: 1/1;
            top: 18%;
            left: 36%;
            z-index: 1
        }

        .page_handbag {
            position: absolute;
            width: 8%;
            aspect-ratio: 155/179;
            top: 63%;
            left: 55%;
            z-index: 1
        }

        .page_star {
            position: absolute;
            width: 5%;
            aspect-ratio: 1/1;
            top: 40%;
            left: 70%;
            z-index: 2
        }

        @media screen and (max-width: 1024px) {

            .page_sunglass {
                width: 30%;
                top: 20%;
                left: 15%
            }

            .page_springYellow {
                width: 12%;
                top: 20%;
                left: 42%
            }

            .page_handbag {
                width: 20%;
                top: 55%;
                left: 65%
            }

            .page_star {
                width: 6%;
                top: 40%;
                left: 80%;
                z-index: 1
            }
        }

        @media screen and (max-width: 700px) {

            .page_sunglass {
                width: 29%;
                top: 38%;
                left: 15%
            }

            .page_springYellow {
                width: 20%;
                top: 24%;
                left: 27%
            }

            .page_handbag {
                width: 17%;
                top: 50%;
                left: 68%
            }

            .page_star {
                width: 8%;
                top: 32%;
                left: 72%;
                z-index: 1
            }
        }
    }
    &:nth-child(3){

        .page_springBlue {
            width: 7%;
            top: 35%;
            left: 58%;
            z-index: 1
        }

        .page_mango {
            position: absolute;
            aspect-ratio: 1/1;
            width: 10%;
            top: 41%;
            left: 30%;
            z-index: 2
        }

        .page_springBlue {
            position: absolute;
            width: 8%;
            aspect-ratio: 1/1;
            top: 10%;
            left: 30%;
            z-index: 2
        }

        .page_smile {
            position: absolute;
            width: 9%;
            aspect-ratio: 155/179;
            top: 10%;
            left: 57%;
            transform: rotate(15deg);
            z-index: 1
        }

        @media screen and (max-width: 1366px) {

            .page_springBlue {
                width: 15%;
                top: 30%;
                left: 65%;
                z-index: 1
            }
  
        }

        @media screen and (max-width: 1024px) {
        
            .page_springBlue {
                width: 10%;
                top: 35%;
                left: 60%
            }
      
            .page_mango {
                z-index: 1;
                width: 22%;
                top: 48%;
                left: 20%
            }

            .page_smile {
                z-index: 1;
                width: 20%;
                top: 23%;
                left: 60%
            }
        }

        @media screen and (max-width: 700px) {
      
            .page_springBlue {
                width: 16%;
                top: 22%;
                left: 20%;
                z-index: 1
            }

            .page_mango {
                width: 21%;
                top: 45%;
                left: 12%
            }

            .page_smile {
                width: 25%;
                top: 22%;
                left: 63%
            }
        }
    }
}

/* 스틱박스 */
.page_packetBoxs{
    position: absolute;
    width:100%;
    height:100dvh;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    .page_packetBox{
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        .packetBox{
            display: inline-block;
            position: relative;
        }
    }
    @media screen and (max-width: 1024px) {
        
        .page_packetBox{
            width: 100%;
        }
    }
}

.page_packetBoxsWrap{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
        &.inWrap{
            
        }
        &.coverWrap{
            position: relative;
            bottom: auto;
            right:auto;
            display: block;
            height: auto;
            padding-bottom: 15rem;
            .page_packetBoxs{
                position: relative;
                bottom: auto;
                right:auto;
                display: block;
                height: auto;
            }
        }
    }
}

