
#footer {
    position: relative;
    background: #fff;
    padding-top: max(3rem,3.125vw);
    padding-bottom: 5.8rem;
    margin-top: 1px
}

#footer .link-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.6rem 0;
    white-space: nowrap;
    line-height: 1
}

#footer .link-items div {
    cursor: pointer
}

@media screen and (max-width: 1366px) {
    #footer .link-items {
        font-size:1.2rem;
        gap: 1.33rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .link-items {
        font-size:2rem;
        gap: 2.1rem;
        padding-bottom: 0
    }
}

@media screen and (max-width: 700px) {
    #footer .link-items {
        font-size:1.4rem;
        gap: 1.6rem;
        padding-bottom: 0
    }
}

#footer .footer-divider {
    width: 100%;
    height: .1rem;
    background: rgba(0,0,0,.12);
    margin: 3rem 0
}

@media screen and (max-width: 1366px) {
    #footer .footer-divider {
        margin:2rem 0
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-divider {
        margin:3.2rem 0
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-divider {
        margin:3rem 0
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-info-container {
        flex-direction:column;
        align-items: flex-start;
        gap: 4.2rem
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-info-container {
        gap:4rem
    }
}

#footer .footer-info {
    display: flex;
    align-items: flex-start;
    gap: 3.4rem
}

@media screen and (max-width: 1366px) {
    #footer .footer-info {
        gap:2.26rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-info {
        flex-direction:column;
        gap: 1.8rem
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-info {
        gap:1.6rem
    }
}

#footer .footer-logo {
    width: 16rem;
    min-width: 16rem
}

@media screen and (max-width: 1366px) {
    #footer .footer-logo {
        width:10.6rem;
        min-width: 10.6rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-logo {
        width:20rem;
        min-width: 20rem
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-logo {
        width:14.1rem;
        min-width: 14.1rem
    }
}

#footer .footer-socials-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 0 1
}

@media screen and (max-width: 1024px) {
    #footer .footer-socials-wrapper {
        justify-content:space-between;
        width: 100%
    }
}

#footer .footer-socials {
    display: flex;
    gap: 1.2rem
}

#footer .footer-social {
    background: #f5f5f5
}

#footer .footer-address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .9rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
    color: rgba(0,0,0,.7)
}

@media screen and (max-width: 1366px) {
    #footer .footer-address {
        font-size:1.1rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-address {
        font-size:1.8rem;
        line-height: 1.6;
        gap: 0
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-address {
        font-size:1.2rem
    }
}

#footer .footer-address .address-divider {
    display: inline-block;
    width: 1px;
    height: .8rem;
    margin: 0 .6rem;
    background: #d9d9d9
}

#footer .footer-address .address-item {
    max-width: 39vw
}

@media screen and (max-width: 1366px) {
    #footer .footer-address .address-item {
        max-width:53vw
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-address .address-item {
        max-width:100%
    }
}

#footer .footer-address .footer-copyright {
    margin-top: 2rem;
    font-size: 1.2rem;
    opacity: .6;
    font-weight: 400;
    line-height: 1.2;
    color: #000
}

@media screen and (max-width: 1366px) {
    #footer .footer-address .footer-copyright {
        margin-top:1.33rem;
        font-size: 1.1rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-address .footer-copyright {
        margin-top:1.6rem;
        font-size: 1.8rem
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-address .footer-copyright {
        margin-top:1.6rem;
        font-size: 1.2rem
    }
}

#footer .footer-social {
    width: 4.8rem;
    height: 4.8rem
}

#footer .footer-social svg {
    width: 2.4rem;
    height: 2.4rem
}

@media screen and (max-width: 1366px) {
    #footer .footer-social {
        width:3.2rem;
        height: 3.2rem
    }

    #footer .footer-social svg {
        width: 1.6rem;
        height: 1.6rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-social {
        width:5.7rem;
        height: 5.7rem
    }

    #footer .footer-social svg {
        width: 2.85rem;
        height: 2.85rem
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-social {
        width:4.2rem;
        height: 4.2rem
    }

    #footer .footer-social svg {
        width: 2.1rem;
        height: 2.1rem
    }
}

#footer .footer-dropdown {
    width: 22.5rem;
    height: 4.8rem;
    &.dropdown--open svg {
        transform: rotate(180deg)
    }
}

#footer .footer-dropdown .dropdown-header {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem
}

#footer .footer-dropdown .dropdown-header svg {
    width: 2.4rem;
    height: 2.4rem
}

#footer .footer-dropdown .dropdown-list {
    top: auto;
    bottom: 5.8rem;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1366px) {
    #footer .footer-dropdown {
        width:17rem;
        height: 3.2rem
    }

    #footer .footer-dropdown .dropdown-header {
        padding: .8rem 1.6rem;
        font-size: 1.2rem
    }

    #footer .footer-dropdown .dropdown-header svg {
        width: 1.6rem;
        height: 1.6rem
    }

    #footer .footer-dropdown .dropdown-list {
        bottom: 4.2rem
    }
}

@media screen and (max-width: 1024px) {
    #footer .footer-dropdown {
        width:22.6rem;
        height: 5.7rem
    }

    #footer .footer-dropdown .dropdown-header {
        padding: 1.22rem 2.99rem;
        font-size: 2rem
    }

    #footer .footer-dropdown .dropdown-header svg {
        width: 3.2rem;
        height: 3.2rem
    }

    #footer .footer-dropdown .dropdown-list {
        bottom: 6.7rem
    }
}

@media screen and (max-width: 700px) {
    #footer .footer-dropdown {
        width:17.4rem;
        height: 4.2rem
    }

    #footer .footer-dropdown .dropdown-header {
        padding: .9rem 2.2rem;
        font-size: 1.4rem
    }

    #footer .footer-dropdown .dropdown-header svg {
        width: 2.4rem;
        height: 2.4rem
    }

    #footer .footer-dropdown .dropdown-list {
        bottom: 5.2rem
    }
}

#footer.hidden,html[lang=cn] #footer .footer-social {
    display: none
}


/* floating */

.floating-button-container {
    display: flex;
    align-items: flex-end;
    position: fixed;
    right: 6.8rem;
    bottom: 4.5em;
    z-index: 3;
    transition: .3s cubic-bezier(.66,.1,.37,.94);
    transition-property: opacity,transform
}

@media screen and (max-width: 1024px) {
    .floating-button-container {
        flex-direction:column;
        align-items: center;
        right: 4.8rem;
        gap: .9rem
    }
}

@media screen and (max-width: 700px) {
    .floating-button-container {
        gap:.6rem;
        right: 2rem;
        bottom: 2.2rem
    }
}

.floating-button-container--hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: .3s cubic-bezier(.66,.1,.37,.94);
    transition-property: opacity,transform
}

.floating-button-container--product {
    bottom: 13rem
}

@media screen and (max-width: 700px) {
    .floating-button-container--product {
        bottom:9rem
    }
}

.floating-button-container--main .top-btn {
    display: none
}

.floating-qa-btn {
    display: none;
    width: 5.2rem;
    height: 5.2rem;
    background: #fafafa;
    border-radius: 99px;
    color: #0f3bae;
    transition: background .3s cubic-bezier(.66,.1,.37,.94)
}

.floating-qa-btn--hide {
    display: none
}

.floating-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -4.7rem
}

@media screen and (max-width: 1366px) {
    .floating-button {
        transform:scale(.85);
        bottom: -6rem
    }
}

@media screen and (max-width: 1024px) {
    .floating-button {
        display:none
    }
}

.floating-button .text-balloon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.4rem;
    height: 6.6rem;
    color: #fff;
    padding: 1.6rem 2.4rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    white-space: pre-line;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px) scale(.5);
    background: #fe3bab;
    border-radius: 100px;
    will-change: transform
}

.floating-button .text-balloon .text-balloon-triangle {
    position: absolute;
    bottom: -10px
}

.floating-button .shopping {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .9rem;
    transform: translateY(-22%)
}

.floating-button .shopping .mall-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.4rem;
    height: 5.3rem;
    background: #fe3bab;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.floating-button img {
    width: 19.3rem;
    height: auto
}

.floating-button .lottie-icon {
    display: none;
    width: 280px;
    position: relative;
    bottom: -20px;
    // right: -30px;
}

.floating-button .lottie-icon--active {
    display: block
}

.shopping-cart-container {
    position: relative
}

.shopping-cart-container .shopping {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: .9rem;
    right: 0;
    bottom: 0;
    pointer-events: none
}

@media screen and (max-width: 1024px) {
    .shopping-cart-container .shopping {
        display:flex
    }
}

.shopping-cart-container .shopping .mall-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.7rem;
    height: 8.1rem;
    background: #fe3bab;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    font-size: 1.8rem;
    font-weight: 700;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

@media screen and (max-width: 700px) {
    .shopping-cart-container .shopping .mall-link {
        width:10.7rem;
        height: 4.6rem;
        font-size: 1.1rem
    }
}

.shopping-cart-container .shopping .contact-btn {
    display: none
}

@media screen and (max-width: 1024px) {
    .shopping-cart-container .shopping .contact-btn {
        display:flex
    }
}

.shopping-cart {
    background: #f0048c;
    color: #fff;
    display: none;
    will-change: transform;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

@media screen and (max-width: 1024px) {
    .shopping-cart {
        display:block;
        width: 6.5rem;
        height: 6.5rem
    }
}

@media screen and (max-width: 700px) {
    .shopping-cart {
        width:5.2rem;
        height: 5.2rem
    }
}

.top-btn {
    background: #0f3bae;
    color: #fff;
    top: 0;
    right: 0
}

@media screen and (max-width: 1024px) {
    .top-btn {
        width:6.5rem;
        height: 6.5rem
    }
}

@media screen and (max-width: 700px) {
    .top-btn {
        width:5.2rem;
        height: 5.2rem
    }
}

.floating-button-container--hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: .3s cubic-bezier(.66,.1,.37,.94);
    transition-property: opacity,transform
}